{% extends 'base.html.twig' %}

{% block title %}Ajouter une entreprises{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Editer une entreprises</h1>
    {% else %}
        <h1>Ajouter une entreprises</h1>
    {% endif %}

    {# formtype form_start pour la documentation #}
    {# {{ form(formAddEntreprise) }} #}
    {{ form_start(formAddEntreprise) }}
        {{ form_row(formAddEntreprise.raisonSociale) }}
        {{ form_row(formAddEntreprise.dateCreation) }}
        <div class="row">
            <div class="col-sm">
                {{ form_row(formAddEntreprise.adresse) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddEntreprise.cp) }}
            </div>
            <div class="col-sm">
                {{ form_row(formAddEntreprise.ville) }}
            </div>
        </div>
        {{ form_row(formAddEntreprise.valider) }}
    {{ form_end(formAddEntreprise) }}
    
{% endblock %}
