{% extends 'base.html.twig' %}

{% block title %}Détail d'un employe{% endblock %}

{% block body %}
    <h1>Détail d'un employe</h1>
    
 
    <h2>{{ employe }}</h2>
    <p>
        Entreprise : <a href="{{ path('show_entreprise', {'id': employe.entreprise.id})}}">{{ employe.entreprise }}</a><br>
        Ville : {% if employe.ville %} {{ employe.ville }} {% else %} Ville non renseignée{% endif %}<br>
        {# formatage date by twig " | date(d-m-y) " #}
        Date de naissance : {{ employe.dateNaissance | date('d-m-Y') }}<br>
        Age : {{ employe.age }} ans<br>
        Date d'embauche : {{ employe.dateEmbauche | date('d-m-Y') }}
    </p>

{% endblock %}
